.required-field {
  color: red;
  margin: 0 0.2rem;
}

.form-group {
  margin: 0.7rem 0;
  display: flex;
  flex-direction: column;
}

.form-group_children {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-label {
  margin: 0.4rem 0;
  font-weight: 300;
  font-size: 14px;
}
