.footer {
  background-color: #046059;
  padding: 1rem 2rem;
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 2rem 2rem 0rem 0rem;
  bottom: 0;
  color: #fff;
  font-size: small;
}

.footer-title {
  font-size: 18px;
  font-style: oblique;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer li {
  margin: 0.3rem 0;
}

.footer-partner ul,
.footer-elite ul {
  padding: 0;
  font-size: 12px;
}
.footer-desc {
  font-size: 12px;
  text-align: left;
  word-spacing: 3px;
}

.footer-section {
  font-weight: bold;
  margin: 0.6rem 0;
}

.footer-contact_text {
  text-decoration: underline;
  font-weight: bold;
}

.logo_app {
  width: 60px;
  height: 100%;
  margin: 0 0.1rem;
}

.footer-logo_wrapper {
  margin: 0;
}
