.container {
  width: 100%;
}

.container__md {
  width: 90%;
  margin: auto;
}

.row__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  @media only screen and (max-width: 768px) {
    padding: 0;
    .typography3 {
      text-align: center;
    }

    .typography6 {
      font-size: 18px;
      line-height: 1.5rem !important;
    }
  }
}

.typography3 {
  font-family: "GothamMedium";
  font-size: 30px;
  line-height: 2rem !important;
}

.typography6 {
  font-family: "GothamRegular";
  font-weight: 500;
  text-align: center;
  width: 50%;
  font-size: 0.85rem;
}

.sitename {
  margin-left: 0.2rem;
  font-weight: 800;
  color: #e9ab3e;
  text-transform: uppercase;
}

/* COURSE SECTION */

.course__section {
  background-color: #fbf9ff;
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
  }
}

.courselist {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 0rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.hide {
  display: none;
}

.about {
  &__container {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2rem;
  }

  &__desc {
    font-family: "GothamRegular";
    font-size: 12px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  &__overlay:target {
    visibility: visible;
    opacity: 1;
  }

  &__popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .close:hover {
      color: #046059;
    }
    .content {
      max-height: 30%;
      overflow: auto;
    }
  }

  &__box:target {
    .about__box > .about__overlay {
      visibility: visible;
    }
  }

  &__box:hover {
    transform: scale(1.2);
    border: 1px solid #046059;
    .about__title {
      color: #046059;
    }
  }

  &__box {
    width: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  &__image {
    width: 5rem;
    height: auto;
  }
  &__title {
    font-family: "GothamMedium";
    font-size: 12px;
    text-align: center;
  }
  &__header {
    font-family: "GothamMedium";
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    color: #046059;
  }
}

/*HELP SECTION*/
.help__section {
  display: flex;
  font-family: "GothamMedium";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 4rem 0;
  background-color: #fff;
  @media only screen and (max-width: 768px) {
    padding-bottom: 1rem;
  }
}

.help__main__desc {
  font-size: small;
  width: 50%;
  font-family: "GothamLight";
  margin: 1rem auto;
  text-align: center;
}

.help__main__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.help__main__space {
  margin: 0 0.5rem;
}

.help__main__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 0.3rem;
  }
}

.help__main__input {
  height: 2.5rem;
  width: 13rem;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 0.3rem 0 rgb(0 0 0 / 35%);
  padding: 0 0 0 0.5rem;
}
