.container {
  width: 100%;
}

.container__md {
  width: 90%;
  margin: auto;
}

.row__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  font-family: "GothamMedium", "Inter", sans-serif;
  @media only screen and (max-width: 768px) {
    padding: 0;
    .typography3 {
      text-align: center;
    }

    .typography6 {
      font-size: 18px;
      font-family: "GothamLight";
      line-height: 1.5rem !important;
    }
  }
}

.typography3 {
  font-size: 30px;
  line-height: 2rem !important;
}

.typography6 {
  font-weight: 500;
  text-align: center;
  width: 50%;
  font-size: 0.85rem;
}

.sitename {
  margin-left: 0.2rem;
  font-weight: 800;
  color: #e9ab3e;
  text-transform: uppercase;
}

/* COURSE SECTION */

.course__section {
  background-color: #fbf9ff;
  padding: 4rem 0;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.courselist {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 0rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

/* MAGAZINE SECTION */

.mag__section {
  padding: 4rem 0rem;
  background-color: #dfdfdf;
  font-family: "GothamLight";
  font-weight: 300;
}

.mag__title {
  text-align: center;
  font-family: "GothamMedium";
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

.articlelist,
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.articlemain__image {
  width: 100%;
  height: 72%;
  border-radius: 0.4rem;
  object-fit: cover;
}

.articlemain {
  grid-column: 1/3;
  @media only screen and (max-width: 768px) {
    grid-column: 1;
    height: fit-content;
  }
}

.articleaside {
  background-color: #fff;
  width: 90%;
  padding: 0.7rem 0;
  height: fit-content;
  margin: 0 auto;
  border-radius: 0.5rem;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 2rem 0;
  }
}

.articlemain__title {
  font-weight: 700;
  font-family: "GothamMedium", "Inter", sans-serif;
}

.articlemain__desc {
  font-size: smaller;
  font-style: italic;
}

.articleaside__image {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 0.5rem;
}

.articleaside__title {
  margin: 0.2rem 0 0;
  font-family: "GothamMedium";
}

.articleaside__tag {
  margin: 0;
  font-size: smaller;
  font-weight: bold;
  font-style: italic;
  color: #b5b5b5;
}

.articleaside__desc {
  margin: 0.6rem 0;
  font-size: small;
  text-align: left;
}

.articleaside__date {
  font-size: small;
  font-family: "GothamMedium";
}

/*ABOUT SECTION*/
.about__section {
  padding: 4rem 0;
  font-family: "GothamLight";
  background-color: #fbf9ff;
}

.about__main {
  @media only screen and (max-width: 768px) {
    grid-column: 1/3;
  }
}

.about__main__title {
  font-size: 2rem;
  margin: 0;
  font-family: "GothamMedium";
}

.about__main__title span {
  color: #e9ab3e;
}

.about__main {
  grid-column: 1/3;
  padding: 0 2rem 0 0;
}

.about__main__desc {
  text-align: justify;
  font-size: 14px;
}

.about__aside {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HELP SECTION*/
.help__section {
  display: flex;
  font-family: "GothamMedium";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 4rem 0;
  background-color: #fff;
  @media only screen and (max-width: 768px) {
    padding-bottom: 1rem;
  }
}

.help__main__desc {
  font-size: small;
  width: 50%;
  font-family: "GothamLight";
  margin: 1rem auto;
  text-align: center;
}

.help__main__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.help__main__space {
  margin: 0 0.5rem;
}

.help__main__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 0.3rem;
  }
}

.help__main__input {
  height: 2.5rem;
  width: 13rem;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 0.3rem 0 rgb(0 0 0 / 35%);
  padding: 0 0 0 0.5rem;
}
