.slider__wrapper {
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: -1;
}

.slides__container {
  height: 90vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

/**/
.item {
  position: relative;
  width: 100%;
  height: fit-content;
}

.background {
  width: 100%;
  height: 90vh;
}

.item .overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: 'GothamMedium', sans-serif;
  text-align: left;
  margin: 0 0 0.8rem 0;
}

.subtitle {
  font-size: 13px;
  font-weight: 300;
  padding: 0.2rem 0.2rem;
  background-color: #fff;
  color: #000;
}

.desc {
  font-size: 12px;
  color: #fff;
  font-family: 'GothamLight';
  width: 80%;
}

.count {
  font-family: 'GothamMedium';
  font-size: 2.1rem;
}

.count__title {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .item .background {
    display: none;
    width: 100%;
  }

  .hide-xs {
    display: none;
  }

  .title {
    font-size: 27px;
  }

  .desc {
    font-size: 12px;
    color: #fff;
    font-family: 'GothamLight';
    width: 50%;
  }

  .item .overlay {
    height: 90%;
    width: 100%;
    padding: 0 1.2rem;
  }
}
